 .extension {
    --fab-size: var(--size-6);

    i {
      font-size: var(--font-size-2);
      text-shadow: none;
      color:var(--surface-1);
    }
  
    /* FAB Button */
    .ex-fab-button {
      position: fixed;
      top: calc(56px + var(--size-2));
      right: var(--size-2);
      background-color: var(--blue-4);
      color: white;
      border: none;
      border-radius: 50%;
      aspect-ratio: 1/1;
      width: var(--fab-size);
      height: var(--fab-size);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--font-size-4);
      box-shadow: var(--shadow-5);
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
      z-index:99;
  
      &:hover {
        transform: scale(1.1);
      }
    }
  
  
  
    /* Sidebar */
    .ex-sidebar {
      background: transparent;
      display: flex;
      top: unset;
    left: unset;
      bottom: 0;
      right: 0;
      height:calc(100vh -  (64px + (var(--size-2) * 2) + var(--fab-size)));
      width: 420px;
      box-shadow: var(--shadow-5);
      backdrop-filter: blur(10px);
      padding: var(--size-4);
      border:1px solid var(--gray-6);
      border-top-left-radius: var(--radius-3);
      border-bottom-left-radius: var(--radius-3);
      flex-direction: column;
      position:fixed;
      gap: var(--size-4);
        transform: translateX(0%); 
      transition:
      opacity 0.7s,
      transform 0.7s,
      overlay 0.7s allow-discrete,
      display 0.7s allow-discrete;

      &:before {
        content:'';
        background-color: var(--surface-3);
        position: absolute;
        inset: 0;
        opacity:.5;
        z-index:-1;
      }
  
      &:popover-open {
        animation: var(--animation-slide-in-left) forwards; 
      }
  
      &:not(:popover-open) {
        display:none;
        animation: var(--animation-slide-out-right) forwards; 
      }
    }
  
  
  
     /* Basic styles for the tabs component */
     .ex-tabs {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow:hidden;
      min-block-size: calc(100% - 40px);
      border-radius:  var(--radius-3);
      border: 1px solid var(--gray-4);
    }
  
    .ex-header {
      display: flex;
      gap:var(--size-2);
      padding: 0;
      padding-inline:var(--size-2);
      background: transparent;
      inset-block-start: 60px;
      min-block-size: fit-content;
      position: absolute;
      width: calc(100% - 40px);

  
      & .btn {
        background: transparent;
        border-radius: 0px;
        height: 40px;
          font-size: var(--font-size-0);
          padding:var(--size-1);
          border-bottom: 4px solid transparent;

          &:hover {
            color:var(--blue-4);
          }
      }
    }
  
    .ex-header button.ex-active {
      color:var(--blue-4);
      font-weight: bold;
      border-bottom: 4px solid var(--blue-4);
    }
  
    .ex-panes {
      display: flex;
      overflow-x: hidden;
      scroll-behavior: smooth; /* Smooth scroll between panes */
      min-block-size: 100%;
    }
  
    .ex-panes > li {
      min-width: 100%;
      padding: 20px;
      padding-block-start: 40px;
      background-color: #fff;
    }
    
  }

  