.ex-panes > li:has(.ex-tasks ) {
padding-inline:0px;
}
    
    
    .ex-tasks  {

      p {
        display:none;
      }
      p:only-child {
        display:block;
      }

      iframe {
        height: calc(-231px + 100vh);
      }
    }